<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    У задачі <a target="_blank" href="https://en.wikipedia.org/wiki/Domino_tiling">domino tiling</a> кімнату з суміжних одиничних квадратів потрібно замостити порожніми кубиками доміно розміром 2 на 1, причому кожен такий кубик розміщується або вертикально, або горизонтально.
</p>
<p style="text-align: justify;">
    У нашому варіанті викладання плитки доміно форма кімнати складається з вертикально розташованих рядів, які мають спільну пряму ліву стіну. Масив {% if is_js %}{% else %} , список{% endif %} з <b>rows</b> містить довжину окремих рядів, виміряну в квадратах. <b>You need to find and return a number of ways, how the given room may be tiled.</b>
</p>
<p style="text-align: justify;">
    Звісно, задачу укладання плитки доміно можна розв'язати лише для парних розмірів приміщення. Але ця необхідна умова сама по собі ще не гарантує існування якоїсь плитки на понівечених кімнатах, як у цій місії. Ось цікаве і корисне відео для занурення в проблему:
</p>
<p style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Yy7Q8IWNfHM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</p>
<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> цілих чисел <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вивести:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p><i>Місія була взята з Python CCPS 109. Його викладають у Ryerson Chang School of Continuing Education <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
