<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p style="text-align: justify;">
    W problemie <a target="_blank" href="https://en.wikipedia.org/wiki/Domino_tiling">domino tiling</a>, pokój składający się z przylegających do siebie kwadratów ma być teselowany pustymi płytkami domina 2 na 1, przy czym każda taka płytka może być umieszczona pionowo lub poziomo.
</p>
<p style="text-align: justify;">
    W naszej wersji domina, kształt pokoju składa się z pionowo ułożonych rzędów, które mają wspólną prostą lewą ścianę. Tablica {% if is_js %}{% else %} lista{% endif %} z <b>rows</b> zawiera długość poszczególnych rzędów, mierzoną w kwadratach. <b>You need to find and return a number of ways, how the given room may be tiled.</b>
</p>
<p style="text-align: justify;">
    Oczywiście zadanie układania domina można rozwiązać tylko dla pomieszczeń o równych rozmiarach. Ale ten warunek konieczny sam w sobie nie gwarantuje jeszcze istnienia pewnych kafelków na okaleczonych pokojach, tak jak w tej misji. Poniżej znajdą Państwo ciekawy i przydatny filmik, który pomoże Państwu zagłębić się w ten problem:
</p>
<p style="text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Yy7Q8IWNfHM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</p>
<!-- <p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}example.png" alt="example" style="max-height: 83px"/>
</p> -->

<!-- Explain input and output values -->
<p>
   <strong>Input:</strong> {% if is_js %}Array{% else %}List{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> liczb całkowitych <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Dane wyjściowe:</strong> Liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>


<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p><i>Misja została zaczerpnięta z Python CCPS 109. Jest on prowadzony dla Ryerson Chang School of Continuing Education przez <a href="https://github.com/ikokkari">Ilkka Kokkarinen</a></i></p>
<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<!-- <p class="for_info_only">

    <strong>How it’s used:</strong>
    <i>(math is used everywhere)</i>
</p> -->

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<!-- <p>
    <strong>Preconditions:</strong>
    <ul>
    <li><i>both given ints should be between -1000 and 1000</i></li>
    </ul>
</p> -->
